{% extends 'base_ar.html' %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <embed type="text/html" id="ar" src="/media/ar.html" height="500"> 
        </div>
        <div class="col">
            <button type="button" id="btn" class="btn btn-success btn-block" style="visibility: hidden;">
                Pilih Deadpool
            </button>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
{% endblock %}
