{% extends 'base_ar.html' %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="row">
        <div id="ar_div"></div>
        <div id="deksripsi" class="col-md-6" style="margin-bottom: 10px; margin-top: 10px;">
            <div class="card" id="desc_card" style="width: 100%; visibility: hidden;">
              <div class="card-body">
                <h2 class="card-title" id="desc_title"><b>a</b></h2>
                <p class="card-text" id="desc_content">Some example text. Some example text.</p>
              </div>
            </div>
        </div>
        <button id="toggle_button" class="btn btn-success btn-block" onclick="toggleAR();">Open AR</button>
    </div>
</div>
<!-- /.container-fluid -->
<style>
    .embed-responsive-3by4 {
        padding-bottom: 133.34%;
    }
    .no-scroll {
        pointer-events: none;
    }
</style>
<script>
    var all_model = JSON.parse('{{ all_model | escapejs }}');
    
    function toggleAR(){
        var div = document.getElementById("ar_div");
        var embed = document.getElementById("ar");
        var toggle_button = document.getElementById("toggle_button");
        var desc_card = document.getElementById("desc_card");

        if (embed === null)
        {
            var new_embed = document.createElement("embed");
            new_embed.setAttribute("type", "text/html");
            new_embed.setAttribute("class", "embed-responsive-item no-scroll");
            new_embed.setAttribute("id", "ar");
            new_embed.setAttribute("src", "/media/ar.html");
            div.setAttribute("class", "embed-responsive embed-responsive-3by4");
            div.appendChild(new_embed);
            toggle_button.innerHTML = "Close AR";
        }
        else
        {
            div.setAttribute("class", "");
            div.removeChild(embed);
            desc_card.style.visibility = "hidden";
            toggle_button.innerHTML = "Open AR";
        }
    }
</script>
{% endblock %}
